*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: rgb(255,255,255);
  background: linear-gradient(193deg, rgba(255,255,255,1) 0%, rgba(232,235,228,1) 60%, rgba(215,218,229,1) 86%);
  color: #080708;
  font-family: 'Montserrat', sans-serif;
}
.app{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
header h1{
  font-size: 40px;
  margin: 50px 0px 30px 0px;
  text-align: center;
}
header p{
  font-size: 20px;
}
.pads{
  background: lightblue;
  display: flex;
  width: 100%;
}
.pads > div{
  flex: 1;
  height: 100px;
  width: 100px;
}
.pad1{
  background: #FF5714;
}
.pad2{
  background: #FFB800;
}
.pad3{
  background: #E4FF1A;
}
.pad4{
  background: #6EEB83;
}
.pad5{
  background: #1BE7FF;
}
.pad6{
  background: #587291;
}

@keyframes jump {
  0%{
    bottom : 0%;
    left: 20%;
  }
  50%{
    bottom : 60%;
    left: 50%;
  }
  100%{
    bottom : 0%;
    left: 80%;
  }
}
.visual > div{
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  bottom: 0%;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: -1;
}
